/* Reinicio de los estilos */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul {
    display: flex;
    align-items: center;
}

li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

li a {
    color: #Fff;
}

header {
    margin: 0 auto;
    width: 90%;
}
